/* الإطار الخارجي للنافذة */
window {
    background-color: rgba(20, 20, 20, 0.85); 
    border-radius: 20px;       
    border: 2px solid #89b4fa; 
    padding: 20px;
}


trough {
    background-color: #313244;
    border-radius: 10px;
}


progress {
    background-color: #89b4fa; 
    border-radius: 10px;
    min-height: 10px;          
}


image {
    color: #cdd6f4;        
}


label {
    color: #cdd6f4;
    font-weight: bold;
    font-size: 16px;
}
